.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 900px; 
    height: 800px;
}
.green {
    background-color: green;
    color: white;
}
.red {
    background-color: red;
    color: white;
}
.salmon {
    background-color: lightsalmon;
    color: white;
}