<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	
	<div class="panel panel-primary">
		<div class="panel-heading">
  		<span class="panel-title section-title">Entity Classes</span>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success btn-sm" ng-click="createClass()">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Class
        </button>
        <button type="button" class="btn btn-success btn-sm" ng-click="loadClasses()">
          <span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
        
  	
  	<div class="panel-body">
			<div style="width: 100%;height: 320px;" ui-grid="gridOptions" ui-grid-selection></div>
	  </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="panel-title section-title">{{selectedEC.name}}</span>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success btn-sm" ng-click="editClass()">
            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Class
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <table class="table table-striped witdh:100">
      <th>Name</th><th>Type</th><th>Class(if type=E)</th><th>Category</th><th>Codes</th><th>Search</th>
      <tbody ng-repeat="(key,varib) in selectedEC.variables">
        <tr>
          <td>{{key}}</td>
          <td>{{varib.type}}</td>
          <td>{{varib.entity_class_name}}</td>
          <td>{{varib.category}}</td>
          <td>{{varib.codes}}</td>
          <td>
          <div ng-switch="varib.type">
            <div ng-switch-when="T">
              <input type="text"</div>
            </div>
            <div ng-switch-when="C">
              <select class="form-control">
                <option ng-repeat="(k,v) in varib.codes" value="{{v}}">
                                {{v}}
                </option>
              </select>

            </div>
            <div ng-switch-when="F">F</div>
            <div ng-switch-when="I">I</div>
            <div ng-switch-when="D">D</div>
            <div ng-switch-default>X</div>
          </div>
          </td>

        </tr>
      </tbody>  
    </table>
  </div>

</div>	
