<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <ol class="breadcrumb">
     <li class="active">Job Types</a></li>
  </ol>
  
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h4>Helper Files</h4>
       <ul class="list-unstyled">
        <li ng-repeat="hf in selectedJobType.helperFiles">{{hf}}</li> 
       </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4>Inputs</h4>
      <ul class="list-unstyled">
        <li ng-repeat="(key,value) in selectedJobType.inputs">
          <b>{{key}}</b><div class="pull-right">{{value}}</div>
        </li> 
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4>Outputs</h4>
      <ul class="list-unstyled">
        <li ng-repeat="(key,value) in selectedJobType.outputs"> 
        <b>{{key}}</b><div class="pull-right">{{value}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">  
  	<div class="panel-body">
			<div style="width: 100%;height: 680px;"  ui-grid="gridOptions" ui-grid-selection></div>
      
		</div>
  </div>
</div>

