<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
  <div class="page-header">
  <h2>Login Settings</h2>
  </div>
<div class="row">
    <h3>System Login Setting</h3>
  
    <div ng-show="updateLoginConfSuccess" class="alert alert-success">
          Login Setting Updated Successfully
    </div>
    <div ng-show="updatedLoginConfFailure" class="alert alert-danger">
          Error Updating Login Settings:
            {{errorData}}
    </div>
    <form>   
      <div class="form-group col-xs-6">
        <label for="fromAddress">Password Reset Email Subject</label>
        <textarea rows="6" class="form-control" ng-model="sysConf['template.password-reset-subject']">
        </textarea>
        <span class="help-block">
        Template for email subject in a Password Reset. Substrings $USERNAME and $TOKEN are string-replaced.
        </span> 
      </div>
      
      <div class="form-group col-xs-6">
        <label for="fromAddress">Password Reset Body URL</label>
        <textarea rows="6" class="form-control" ng-model="sysConf['template.password-reset-url-body']">
        </textarea>
        <span class="help-block">
          Template for email body in a Password Reset when caller does not provide URL prefix. Substrings $USERNAME and $TOKEN are string-replaced.
        </span>
      </div>
      <div class="form-group col-xs-6">
          <label for="fromAddress">Reset Password Text</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.password-reset-api-body']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
        </div>
      <div class="form-group col-xs-3">
        <label for="fromAddress">User Change Tokens?</label>
        <select class="form-control" ng-model="sysConf['policy.user-change-tokens']">
            <option ng-repeat="g in ['true','false']" value="{{g}}">
              {{g}}
            </option>
        </select>
        <span class="help-block">
          If false, Request an email with a password reset token is disabled.
        </span>
      </div>
      <div class="form-group col-xs-3">
              <label>
                User Creation?
              </label>
              <select class="form-control" ng-model="sysConf['policy.public-user-creation']">
            <option ng-repeat="g in ['true','false']" value="{{g}}">
              {{g}}
            </option>
        </select>
        <span class="help-block">
           If policy.public-user-creation is configured false, the caller must be a superuser. If policy.public-user-creation is configured true, the caller does not have to be a user at all. However, in the event that no superuser already exists, no credentials are needed. (This last case is to help with first-time setup, so you can use the API to make your initial superuser.)
        </span>
      </div>
      <div class="form-group col-xs-4">
        <label for="fromAddress">User Confirm API Body</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.user-confirm-api-body']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
      </div>
      <div class="form-group col-xs-4">
        <label for="fromAddress">User Confirm URL</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.user-confirm-url-body']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
      </div>
      <div class="form-group col-xs-4">
        <label for="fromAddress">User Confirm Email Suject</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.user-confirm-subject']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
      </div>
      <div class="form-group col-xs-6">
        <input type="button" class="btn btn-primary  btn-sm" ng-click="updateLoginConf()" value ="Update Login Settings">
      </div>
    </form>
   </div>
   
</div>
