<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Execution Locations</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
      <table class="table table-striped witdh:100">
        <th>Name</th><th>Host</th><th>Remote Username</th>
        <th>Poll Delay</th><th>Strategy</th><th>Default</th>
        <tbody ng-repeat="loc in exeLocations">  
          <tr>
            <td>{{loc.name}}</td>
            <td>{{loc.host}}</td>
            <td>{{loc.remoteUsername}}</td>
            <td>{{loc.pollDelay}}</td>
            <td>{{loc.strategy}}</td>
            <td>{{loc.default}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>System Email Settings</h3>
    </div>
    <div class="panel-body">
      <form role="form">
      <!--
          <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=".col-xs-2">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder=".col-xs-3">
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder=".col-xs-4">
  </div>
  -->   <div ng-show="updateSmtpConfSuccess" class="alert alert-success">
          SMPT Setting Updated Successfully
          </div>
          <div ng-show="updatedSmtpConfFailure" class="alert alert-danger">
          Error Updating Settings:
            {{errorData}}
          </div>   
        <div class="form-group col-xs-4">
            <label for="fromAddress">SMTP FROM</label>
            <input type="email" class="form-control" ng-model="sysConf['mail.smtp.from']">
            <span class="help-block">The address to use for "from" and "reply-to".</span>
        </div>
        <div class="form-group col-xs-4">
          <label for="fromAddress">SMTP Email User</label>
          <input type="text" class="form-control" ng-model="sysConf['mail.smtp.user']">
          <span class="help-block">The username expected by the SMTP host.
          </span>
        </div>
        <div class="form-group col-xs-4">
          <label for="fromAddress">SMTP Port</label>
          <input type="text" class="form-control" ng-model="sysConf['mail.smtp.port']">
          <span class="help-block">The port number of the SMTP host.
          </span>
        </div>
        <div class="form-group col-xs-4">
          <label for="fromAddress">SMTP Host</label>
          <input type="text" class="form-control" ng-model="sysConf['mail.smtp.host']">
          <span class="help-block">SMTP Host 
          </span>
        </div>
        <div class="form-group col-xs-4">
          <label for="fromAddress">SMTP Password</label>
          <input type="text" class="form-control" ng-model="sysConf['mail.smtp.password']">
          <span class="help-block">The password expected by the SMTP host. 
          </span>
        </div>
        <div class="form-group col-xs-4">
          <label for="fromAddress">SMTP Start TTLS Enable?</label>
          <select class="form-control" ng-model="sysConf['mail.smtp.starttls.enable']">
            <option ng-repeat="g in ['true','false']" value="{{g}}">
              {{g}}
            </option>
          </select>
          <span class="help-block"> Whether the SMTP host is going to try to use STARTTLS
          </span>
        </div>
        <div class="form-group col-xs-5">  
          <input type="button" class="btn btn-success btn-lg" value="Send Test Email" ng-click="testEmail()">
          <span class="help-block">Sends a test email to the requesting superuser, without setting mail configuration variables. For this to be useful, your own email must be set properly.</span>
            <div ng-show="sending" class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <b>SENDING</b> - Please Wait
              </div>
            </div>
            <div ng-show="testResultsSuccess" class="alert alert-success">
             Email Successfully Sent
            </div>
            <div ng-show="testResultsError" class="alert alert-danger">
              Error Sending Email: {{testResultsError | json}}
            </div>
        </div>
        <div class="form-group col-xs-12">
          <input type="button" class="btn btn-success btn-lg" ng-click="updateSmtpConf()" value ="Update Email Settings">
        </div>
    </form>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
      <h3>System Login Setting</h3>
  </div>
  <div ng-show="updateLoginConfSuccess" class="alert alert-success">
          Login Setting Updated Successfully
  </div>
  <div ng-show="updatedLoginConfFailure" class="alert alert-danger">
          Error Updating Login Settings:
            {{errorData}}
  </div>
  <div class="panel-body">
    <form>   
      <div class="form-group col-xs-6">
        <label for="fromAddress">Password Reset Email Subject</label>
        <textarea rows="6" class="form-control" ng-model="sysConf['template.password-reset-subject']">
        </textarea>
        <span class="help-block">
        Template for email subject in a Password Reset. Substrings $USERNAME and $TOKEN are string-replaced.
        </span> 
      </div>
      
      <div class="form-group col-xs-6">
        <label for="fromAddress">Password Reset Body URL</label>
        <textarea rows="6" class="form-control" ng-model="sysConf['template.password-reset-url-body']">
        </textarea>
        <span class="help-block">
          Template for email body in a Password Reset when caller does not provide URL prefix. Substrings $USERNAME and $TOKEN are string-replaced.
        </span>
      </div>
      <div class="form-group col-xs-6">
          <label for="fromAddress">Reset Password Text</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.password-reset-api-body']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
        </div>
      <div class="form-group col-xs-3">
        <label for="fromAddress">User Change Tokens?</label>
        <select class="form-control" ng-model="sysConf['policy.user-change-tokens']">
            <option ng-repeat="g in ['true','false']" value="{{g}}">
              {{g}}
            </option>
        </select>
        <span class="help-block">
          If false, Request an email with a password reset token is disabled.
        </span>
      </div>
      <div class="form-group col-xs-3">
              <label>
                User Creation?
              </label>
              <select class="form-control" ng-model="sysConf['policy.public-user-creation']">
            <option ng-repeat="g in ['true','false']" value="{{g}}">
              {{g}}
            </option>
        </select>
        <span class="help-block">
           If policy.public-user-creation is configured false, the caller must be a superuser. If policy.public-user-creation is configured true, the caller does not have to be a user at all. However, in the event that no superuser already exists, no credentials are needed. (This last case is to help with first-time setup, so you can use the API to make your initial superuser.)
        </span>
      </div>
      <div class="form-group col-xs-4">
        <label for="fromAddress">User Confirm API Body</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.user-confirm-api-body']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
      </div>
      <div class="form-group col-xs-4">
        <label for="fromAddress">User Confirm URL</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.user-confirm-url-body']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
      </div>
      <div class="form-group col-xs-4">
        <label for="fromAddress">User Confirm Email Suject</label>
          <textarea rows="6" class="form-control" ng-model="sysConf['template.user-confirm-subject']">
          </textarea>
          <span class="help-block">
            Template for email body in a Password Reset when caller provides URL prefix. Substrings $USERNAME, $TOKEN, and $URL are string-replaced.
          </span>
      </div>
      <div class="form-group col-xs-6">
        <input type="button" class="btn btn-success  btn-lg" ng-click="updateLoginConf()" value ="Update Login Settings">
      </div>
    </form>
    </div>
   
</div>

