<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="panel panel-primary">
  		<div class="panel-heading">
    		<h3 class="panel-title">User Details For:&nbsp;{{selectedUser[0].username}}</h3>
    		<div class="btn-group pull-right">
    			<input ng-show="viewing" type="button" class="btn btn-success" ng-click="editUser();editing=true;viewing=false;clearMessages()" value ="Edit User">
    		</div>
    		<div class="clearfix"></div>
    	</div>
  			<div ng-show="successMessage" class="alert alert-success">
  				{{successMessage}}
			</div>
			<div ng-show="errorMessage" class="alert alert-danger">
  				{{errorMessage}}
			</div>
  			
  			<div class="panel-body">
				<form role="form">
					<div class="form-group col-xs-4">
						<label>First Name </label>
						<input ng-show = "editing" class="form-control" type="text" ng-model="user.firstName" >
						<div ng-show = "viewing">{{selectedUser[0].firstName}}</div>
					</div>
					<div class="form-group col-xs-4">
						<label>Last Name</label>
						<input ng-show = "editing"  class="form-control" type="text" ng-model="user.lastName">
						<div ng-show = "viewing">{{selectedUser[0].lastName}}</div>	
					</div>
					<div class="form-group col-xs-4">
						<label>Email</label>
						<input  ng-show = "editing" class="form-control" type="email" ng-model="user.email" >
						<div ng-show = "viewing">{{selectedUser[0].email}}</div>
					</div>
					<div class="form-group col-xs-4">
						<label>Group</label>
						<input  ng-show ="editing" class="form-control" type="text" ng-model="user.group" disabled >
  						<div ng-show="viewing">{{selectedUser[0].group}}</div>
					</div>
					<div  class="form-group col-xs-4">
    					<label>Super User</label>
    					<select ng-show = "editing" class="form-control" ng-model="user.superuser">
            				<option ng-repeat="g in ['true','false']" value="{{g}}">
              					{{g}}
            				</option>
          				</select>
          				<div ng-show = "viewing">{{selectedUser[0].superuser}} </div>
  					</div>
  					<div class="form-group col-xs-4">
    					<label>Active </label>
    			 		<select class="form-control" ng-model="user.active" ng-show = "editing" >
            				<option ng-repeat="g in ['true','false']" value="{{g}}">
              					{{g}}
            				</option>
          				</select>
          				<div ng-show = "viewing">{{selectedUser[0].active}} </div>	
  					</div>
  					<div class="form-group col-xs-6 " ng-style="{opacity: (!workFilesLoaded && .4) }">
  						<h4>File Usage</h4>
  						<ul >
							<li>File Count: {{workFiles.length | number }}</li>
							<li>Total Size: {{totalFileSize | number }}</li>
							<li>Largest File: {{largestFileSize | number }}</li>
						</ul>
  					</div>
  					<div class="form-group col-xs-6" ng-style="{opacity: (!jobRunsLoaded && .4) }">
  						<h4>Job Runs</h4>
  						<ul>
							<li>Total Job Runs: {{jobRuns.length | number }}</li>
							<li>Eariliest Job Run: {{earliestJobRunDate  | date:'medium'}}</li>
							<li>Most Recent Job Run: {{latestJobRunDate  | date:'medium'}}</li>
							<li>Average Job Run Duration: {{aveJobRunDuration / 3600000 | number:2}} hrs</li>
							<li>Longest Job Run Duration: {{longestJobRunDuration / 3600000 | number:1}} hrs</li>
						</ul>
  					</div> 
  					<div class=" form-group col-xs-6">
					<input ng-show = "editing" type="button" class="btn btn-primary  btn-lg" ng-click="updateUser()" value ="Update User">
					<input ng-show = "editing" type="button" class="btn btn-primary  btn-lg" ng-click="editing=false;viewing=true;clearMessages()" value ="Cancel">
					 <!-- debugging
					 <pre>selu = {{selectedUser[0] | json }}</pre>
					 <pre>u = {{user | json}}</pre>
					 -->
				</div>
			</form>
		</div>
	</div> 
	
	<div class="panel panel-primary">
  			<div class="panel-heading">
    			<h3 class="panel-title">Users</h3>
    			<div class="btn-group pull-right">
    			<input type="button" class="btn btn-success" ng-click="createUser();clearMessages()" value="New User">
    			</div>
    			<div class="clearfix"></div>
  			</div>
  			
  			<div class="panel-body">
  			<div class="input-group col-xs-4">
    			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    				<input class="form-control" type="text" ng-model="filterOptions.filterText"  placeholder="Search" >
    		</div>
				<div style="width: 100%;height: 400px;" ng-grid="gridOptions"></div>
			</div>
	</div>
	<div class="panel panel-primary">
  			<div class="panel-heading">
  				<h3 class="panel-title">Groups</h3>
  				<div class="btn-group pull-right">
    			<input type="button" class="btn btn-success" ng-click="createGroup();clearMessages()" value="New Group">
    			</div>
    			<div class="clearfix"></div>
  			</div>
  			<div  class="panel-body">
  			<table class="table">
  				<th>Group Name</th>
  				<tbody  ng-repeat="gr in userGroups">
  				  <tr><td>{{gr.name}}</td></tr>
  				</tbody>
  			</table>
  			</div>
	</div>
 
		
			</div>
		</div>	
	</div>	
</div>
