<div ng-controller="UsersCtrl">
	<div class="col-md-7 ">
		<div class="well">
		<div class="panel panel-primary">
  			<div class="panel-heading">
    			<h4 class="pane-title">Users</h4>
    			<div class="input-group col-xs-4">
    			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    				<input class="form-control" type="text" ng-model="filterOptions.filterText"  placeholder="Search" >
    			</div>
    			<div class="btn-group pull-right">
    			<input type="button" class="btn btn-success" ng-click="createUser();clearMessages()" value="New User">
    			</div>
    			<div class="clearfix"></div>
  			</div>
  			<div class="panel-body">
				<div style="width: 100%;height: 400px;" ng-grid="gridOptions"></div>
			</div>
		</div>
		<div class="panel panel-primary">
  			<div class="panel-heading">
  				<h3 class="panel-title">Groups</h3>
  				<div class="btn-group pull-right">
    			<input type="button" class="btn btn-success" ng-click="createGroup();clearMessages()" value="New Group">
    			</div>
    			<div class="clearfix"></div>
  			</div>
  			<div  class="panel-body">
  			<table class="table">
  				<th>Group Name</th>
  				<tbody  ng-repeat="gr in userGroups">
  				  <tr><td>{{gr.name}}</td></tr>
  				</tbody>
  			</table>
  			</div>
		</div>

		</div> 
	</div>
	<div class="col-md-5  main">
		<div class="well" ng-show="selectedUser[0] != null">
			<div ng-show="viewing || editing" class="panel panel-primary">
  				<div class="panel-heading">
    				<h3 class="panel-title">User Details:</h3>
  				</div>
  				<div ng-show="successMessage" class="alert alert-success">
  					{{successMessage}}
				</div>
				<div ng-show="errorMessage" class="alert alert-danger">
  					{{errorMessage}}
				</div>
  				<h1 ng-show="viewing || editing">User Name: {{selectedUser[0].username}}</h1>
  				<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<label>First Name </label>
						<input ng-show = "editing" class="form-control" type="text" ng-model="user.firstName" >
						<div ng-show = "viewing">{{selectedUser[0].firstName}}</div>
					</div>
					<div class="form-group">
						<label>Last Name</label>
						<input ng-show = "editing"  class="form-control" type="text" ng-model="user.lastName">
						<div ng-show = "viewing">{{selectedUser[0].lastName}}</div>	
					</div>
					<div class="form-group">
						<label>Email</label>
						<input  ng-show = "editing" class="form-control" type="email" ng-model="user.email" >
						<div ng-show = "viewing">{{selectedUser[0].email}}</div>
					</div>
					<div class="form-group">
						<label>Group</label>
  						<div ng-show="viewing || editing">{{selectedUser[0].group}}</div>
					</div>
					<div ng-show = "editing" class="checkbox">
    					<label>
    						Super User<input  type="checkbox" ng-model="user.superuser" >	
    					</label>
  					</div>
  					<div ng-show = "viewing">Super User: {{selectedUser[0].superuser}} </div>
  					<div ng-show = "editing" class="checkbox">
    					<label>Active 
      						<input  type="checkbox" ng-model="user.active" >	
    					</label>
  					</div>
  					<div ng-show = "viewing">Active: {{selectedUser[0].active}} </div>
  					

					<input ng-show = "editing" type="button" class="btn btn-primary  btn-lg" ng-click="updateUser()" value ="Update User">
					<input ng-show = "viewing" type="button" class="btn btn-primary  btn-lg"   ng-click="editUser();editing=true;viewing=false;clearMessages()" value ="Edit User">
				
					<input ng-show = "editing" type="button" class="btn btn-primary  btn-lg" ng-click="editing=false;viewing=true;clearMessages()" value ="Cancel">
					 <!-- debugging
					 <pre>selu = {{selectedUser[0] | json }}</pre>
					 <pre>u = {{user | json}}</pre>
					 -->
				</form>
				</div>
			</div> <!--panel panel-primary -->
		
		
			<div ng-show="viewing || editing" class="panel panel-primary">
  				<div class="panel-heading">
    				<h3 class="panel-title">Users Work Files</h3>
  				</div>
  				<div class="panel-body">
    				<ul >
						<li>File Count: {{workFiles.length | number }}</li>
						<li>Total Size: {{totalFileSize | number }}</li>
						<li>Largest File: {{largestFileSize | number }}</li>
					</ul>	
  				</div>
			</div>

			<div ng-show="viewing || editing" class="panel panel-primary">
  				<div class="panel-heading">
    				<h3 class="panel-title">Users Job Runs</h3>
  				</div>
  				<div class="panel-body">
    				<ul >
						<li>Total Job Runs: {{jobRuns.length | number }}</li>
						<li>Eariliest Job Run: {{earliestJobRunDate  | date:'medium'}}</li>
						<li>Most Recent Job Run: {{latestJobRunDate  | date:'medium'}}</li>
						<li>Average Job Run Duration: {{aveJobRunDuration / 3600000 | number:2}} hrs</li>
						<li>Longest Job Run Duration: {{longestJobRunDuration / 3600000 | number:1}} hrs</li>
					</ul>	
  				</div>
			</div>
		
			</div>
		</div>	
	</div>	
</div>
