<div class="col-md-7 ">
		<div class="well">
		<div class="panel panel-primary">
  			<div class="panel-heading">
    			<h3>Work Files</h3>
          <div class="input-group col-xs-4">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" type="text" ng-model="filterOptions.filterText"  placeholder="Search" >
          </div>
    		</div>
  	</div>
  	<div class="panel-body">
			<div style="width: 100%;height: 680px;" ng-grid="gridOptions"></div>
		</div>
	</div>
</div>
<div class="col-md-5  main">
<pre>
  {{ selectedWorkFiles[0] | json }}
</pre>
</div>
  